header {
	margin: 0;
	padding: 0;
	height: 3rem;
	background: #eae5d7;
	border-bottom: 1.5px solid #BDB7AD;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

header a {
	text-decoration: none;
	color: inherit;
}

h2 {
	padding: 1rem;
	font-family: "belleza";
}

nav {
	padding: 1rem;
	display: flex;
	gap: 1rem;
}